In [190]:
# Import dependencies
import pandas as pd
from pathlib import Path
import hvplot.pandas
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf

In [191]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler

In [192]:
# Read in the CSV file as a Pandas DataFrame
Airbnb_df = pd.read_csv(Path(r"C:\Users\Sezy\OneDrive\last_project_for_it\Airbnb_Score_Model\Resources\Airbnb_Data.csv"))

# Review the DataFrame
Airbnb_df.head()

,id,log_price,property_type,room_type,amenities,accommodates,bathrooms,bed_type,cancellation_policy,cleaning_fee,...,latitude,longitude,name,neighbourhood,number_of_reviews,review_scores_rating,thumbnail_url,zipcode,bedrooms,beds
0,6901257,5.010635,Apartment,Entire home/apt,"{""Wireless Internet"",""Air conditioning"",Kitche...",3,1.0,Real Bed,strict,True,...,40.696524,-73.991617,Beautiful brownstone 1-bedroom,Brooklyn Heights,2,100.0,https://a0.muscache.com/im/pictures/6d7cbbf7-c...,11201,1.0,1.0
1,6304928,5.129899,Apartment,Entire home/apt,"{""Wireless Internet"",""Air conditioning"",Kitche...",7,1.0,Real Bed,strict,True,...,40.766115,-73.989040,Superb 3BR Apt Located Near Times Square,Hell's Kitchen,6,93.0,https://a0.muscache.com/im/pictures/348a55fe-4...,10019,3.0,3.0
2,7919400,4.976734,Apartment,Entire home/apt,"{TV,""Cable TV"",""Wireless Internet"",""Air condit...",5,1.0,Real Bed,moderate,True,...,40.808110,-73.943756,The Garden Oasis,Harlem,10,92.0,https://a0.muscache.com/im/pictures/6fae5362-9...,10027,1.0,3.0
3,13418779,6.620073,House,Entire home/apt,"{TV,""Cable TV"",Internet,""Wireless Internet"",Ki...",4,1.0,Real Bed,flexible,True,...,37.772004,-122.431619,Beautiful Flat in the Heart of SF!,Lower Haight,0,NaN,https://a0.muscache.com/im/pictures/72208dad-9...,94117.0,2.0,2.0
4,3808709,4.744932,Apartment,Entire home/apt,"{TV,Internet,""Wireless Internet"",""Air conditio...",2,1.0,Real Bed,moderate,True,...,38.925627,-77.034596,Great studio in midtown DC,Columbia Heights,4,40.0,NaN,20009,0.0,1.0

In [193]:
Airbnb_df.shape[0]

74111

In [194]:
Airbnb_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74111 entries, 0 to 74110
Data columns (total 29 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      74111 non-null  int64
 1   log_price               74111 non-null  float64
 2   property_type           74111 non-null  object
 3   room_type               74111 non-null  object
 4   amenities               74111 non-null  object
 5   accommodates            74111 non-null  int64
 6   bathrooms               73911 non-null  float64
 7   bed_type                74111 non-null  object
 8   cancellation_policy     74111 non-null  object
 9   cleaning_fee            74111 non-null  bool
 10  city                    74111 non-null  object
 11  description             74111 non-null  object
 12  first_review            58247 non-null  object
 13  host_has_profile_pic    73923 non-null  object
 14  host_identity_verified  73923 non-null  object
 15  host_response_rate      55812 non-null  object
 16  host_since              73923 non-null  object
 17  instant_bookable        74111 non-null  object
 18  last_review             58284 non-null  object
 19  latitude                74111 non-null  float64
 20  longitude               74111 non-null  float64
 21  name                    74111 non-null  object
 22  neighbourhood           67239 non-null  object
 23  number_of_reviews       74111 non-null  int64
 24  review_scores_rating    57389 non-null  float64
 25  thumbnail_url           65895 non-null  object
 26  zipcode                 73145 non-null  object
 27  bedrooms                74020 non-null  float64
 28  beds                    73980 non-null  float64
dtypes: bool(1), float64(7), int64(3), object(18)
memory usage: 15.9+ MB

Getting rid of bad data

In [220]:
# Define bins and labels
bins = [0, 50, 70, 90, 100]
labels = [0, 1, 2, 3]

# Create a new column with categorized ratings
Airbnb_df['rating_category'] = pd.cut(Airbnb_df['review_scores_rating'], bins=bins, labels=labels, include_lowest=True)

In [221]:
Airbnb_df.head()

,log_price,property_type,room_type,amenities,accommodates,bathrooms,bed_type,cancellation_policy,cleaning_fee,city,host_identity_verified,host_response_rate,instant_bookable,number_of_reviews,review_scores_rating,bedrooms,beds,rating_category
0,5.010635,Apartment,Entire home/apt,"{""Wireless Internet"",""Air conditioning"",Kitche...",3,1.0,Real Bed,strict,True,NYC,t,NaN,f,2,100.0,1.0,1.0,3
1,5.129899,Apartment,Entire home/apt,"{""Wireless Internet"",""Air conditioning"",Kitche...",7,1.0,Real Bed,strict,True,NYC,f,1.0,t,6,93.0,3.0,3.0,3
2,4.976734,Apartment,Entire home/apt,"{TV,""Cable TV"",""Wireless Internet"",""Air condit...",5,1.0,Real Bed,moderate,True,NYC,t,1.0,t,10,92.0,1.0,3.0,3
3,6.620073,House,Entire home/apt,"{TV,""Cable TV"",Internet,""Wireless Internet"",Ki...",4,1.0,Real Bed,flexible,True,SF,t,NaN,f,0,NaN,2.0,2.0,NaN
4,4.744932,Apartment,Entire home/apt,"{TV,Internet,""Wireless Internet"",""Air conditio...",2,1.0,Real Bed,moderate,True,DC,t,1.0,t,4,40.0,0.0,1.0,0

In [196]:

Airbnb_df = Airbnb_df.drop(['id', 'description','first_review', 'host_has_profile_pic','host_since', 'last_review', 'latitude', 'longitude', 'name', 'neighbourhood',
                         'thumbnail_url', 'zipcode'], axis = 1)

making the host repsonse rate a float instead

In [197]:
Airbnb_df['host_response_rate']= Airbnb_df['host_response_rate'].str.rstrip('%').astype('float')/100
Airbnb_df['host_response_rate'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 74111 entries, 0 to 74110
Series name: host_response_rate
Non-Null Count  Dtype
--------------  -----
55812 non-null  float64
dtypes: float64(1)
memory usage: 579.1 KB

In [198]:
from sklearn.impute import SimpleImputer
# Replace missing values with median
SI = SimpleImputer(strategy = 'median')
SI.fit(Airbnb_df.select_dtypes(include = 'number'))
# creating a side df to seperate data
imputer = SI.transform(Airbnb_df.select_dtypes(include = 'number'))
airbnb_num = pd.DataFrame(imputer, columns = Airbnb_df.select_dtypes(include = 'number').columns)
airbnb_num.head()

,log_price,accommodates,bathrooms,host_response_rate,number_of_reviews,review_scores_rating,bedrooms,beds
0,5.010635,3.0,1.0,1.0,2.0,100.0,1.0,1.0
1,5.129899,7.0,1.0,1.0,6.0,93.0,3.0,3.0
2,4.976734,5.0,1.0,1.0,10.0,92.0,1.0,3.0
3,6.620073,4.0,1.0,1.0,0.0,96.0,2.0,2.0
4,4.744932,2.0,1.0,1.0,4.0,40.0,0.0,1.0

In [199]:
airbnb_num.isnull().sum()

log_price               0
accommodates            0
bathrooms               0
host_response_rate      0
number_of_reviews       0
review_scores_rating    0
bedrooms                0
beds                    0
dtype: int64

In [200]:
SI = SimpleImputer(strategy = 'most_frequent')
SI.fit(Airbnb_df.select_dtypes(include = 'object'))
imputer = SI.transform(Airbnb_df.select_dtypes(include = 'object'))
airbnb_obj = pd.DataFrame(imputer, columns = Airbnb_df.select_dtypes(include = 'object').columns)
airbnb_obj.head()

,property_type,room_type,amenities,bed_type,cancellation_policy,city,host_identity_verified,instant_bookable
0,Apartment,Entire home/apt,"{""Wireless Internet"",""Air conditioning"",Kitche...",Real Bed,strict,NYC,t,f
1,Apartment,Entire home/apt,"{""Wireless Internet"",""Air conditioning"",Kitche...",Real Bed,strict,NYC,f,t
2,Apartment,Entire home/apt,"{TV,""Cable TV"",""Wireless Internet"",""Air condit...",Real Bed,moderate,NYC,t,t
3,House,Entire home/apt,"{TV,""Cable TV"",Internet,""Wireless Internet"",Ki...",Real Bed,flexible,SF,t,f
4,Apartment,Entire home/apt,"{TV,Internet,""Wireless Internet"",""Air conditio...",Real Bed,moderate,DC,t,t

In [201]:
airbnb_obj.isnull().sum()

property_type             0
room_type                 0
amenities                 0
bed_type                  0
cancellation_policy       0
city                      0
host_identity_verified    0
instant_bookable          0
dtype: int64

Merge Data

In [202]:
Airbnb_df_v2 = pd.concat([airbnb_num, airbnb_obj], axis = 1)
Airbnb_df_v2['cleaning_fee'] = Airbnb_df['cleaning_fee']
Airbnb_df_v2.isnull().sum()

log_price                 0
accommodates              0
bathrooms                 0
host_response_rate        0
number_of_reviews         0
review_scores_rating      0
bedrooms                  0
beds                      0
property_type             0
room_type                 0
amenities                 0
bed_type                  0
cancellation_policy       0
city                      0
host_identity_verified    0
instant_bookable          0
cleaning_fee              0
dtype: int64

In [203]:
aminities_count = []
for i in Airbnb_df_v2['amenities']:
  aminities_count.append(len(i))

Airbnb_df_v2['amenities'] = aminities_count
Airbnb_df_v2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74111 entries, 0 to 74110
Data columns (total 17 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   log_price               74111 non-null  float64
 1   accommodates            74111 non-null  float64
 2   bathrooms               74111 non-null  float64
 3   host_response_rate      74111 non-null  float64
 4   number_of_reviews       74111 non-null  float64
 5   review_scores_rating    74111 non-null  float64
 6   bedrooms                74111 non-null  float64
 7   beds                    74111 non-null  float64
 8   property_type           74111 non-null  object
 9   room_type               74111 non-null  object
 10  amenities               74111 non-null  int64
 11  bed_type                74111 non-null  object
 12  cancellation_policy     74111 non-null  object
 13  city                    74111 non-null  object
 14  host_identity_verified  74111 non-null  object
 15  instant_bookable        74111 non-null  object
 16  cleaning_fee            74111 non-null  bool
dtypes: bool(1), float64(8), int64(1), object(7)
memory usage: 9.1+ MB

In [204]:
value_count = Airbnb_df_v2['property_type'].value_counts()
other_values = value_count[value_count < 50].index
Airbnb_df_v2['property_type'] = Airbnb_df_v2['property_type'].replace(other_values, 'Other')

In [205]:
Airbnb_df_v2['cancellation_policy'] = Airbnb_df_v2['cancellation_policy'].replace(['super_strict_30', 'super_strict_60'], 'super_strict')
Airbnb_df_v2['cancellation_policy'].value_counts()

cancellation_policy
strict          32374
flexible        22545
moderate        19063
super_strict      129
Name: count, dtype: int64

making the final df

In [271]:
airbnb_v3 = Airbnb_df_v2.copy()

In [272]:
airbnb_v3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74111 entries, 0 to 74110
Data columns (total 17 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   log_price               74111 non-null  float64
 1   accommodates            74111 non-null  float64
 2   bathrooms               74111 non-null  float64
 3   host_response_rate      74111 non-null  float64
 4   number_of_reviews       74111 non-null  float64
 5   review_scores_rating    74111 non-null  float64
 6   bedrooms                74111 non-null  float64
 7   beds                    74111 non-null  float64
 8   property_type           74111 non-null  object
 9   room_type               74111 non-null  object
 10  amenities               74111 non-null  int64
 11  bed_type                74111 non-null  object
 12  cancellation_policy     74111 non-null  object
 13  city                    74111 non-null  object
 14  host_identity_verified  74111 non-null  object
 15  instant_bookable        74111 non-null  object
 16  cleaning_fee            74111 non-null  bool
dtypes: bool(1), float64(8), int64(1), object(7)
memory usage: 9.1+ MB

In [300]:
# Define bins and labels
bins = [0, 60 , 70, 80, 100]
labels = [0, 1, 2, 3]

# Create a new column with categorized ratings
airbnb_v3['rating_category'] = pd.cut(airbnb_v3['review_scores_rating'], bins=bins, labels=labels, include_lowest=True)

In [301]:
y = airbnb_v3['rating_category']  # Target variable
X = airbnb_v3.drop(columns=['rating_category', 'review_scores_rating'])

In [302]:
X_encoded = pd.get_dummies(X, drop_first=True, dtype=int)

In [303]:
airbnb_v3_encoded = pd.concat([X_encoded, y], axis=1)

In [310]:
airbnb_v3_encoded.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74111 entries, 0 to 74110
Data columns (total 44 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   log_price                         74111 non-null  float64
 1   accommodates                      74111 non-null  float64
 2   bathrooms                         74111 non-null  float64
 3   host_response_rate                74111 non-null  float64
 4   number_of_reviews                 74111 non-null  float64
 5   bedrooms                          74111 non-null  float64
 6   beds                              74111 non-null  float64
 7   amenities                         74111 non-null  int64
 8   cleaning_fee                      74111 non-null  bool
 9   property_type_Bed & Breakfast     74111 non-null  int32
 10  property_type_Boat                74111 non-null  int32
 11  property_type_Boutique hotel      74111 non-null  int32
 12  property_type_Bungalow            74111 non-null  int32
 13  property_type_Cabin               74111 non-null  int32
 14  property_type_Camper/RV           74111 non-null  int32
 15  property_type_Condominium         74111 non-null  int32
 16  property_type_Dorm                74111 non-null  int32
 17  property_type_Guest suite         74111 non-null  int32
 18  property_type_Guesthouse          74111 non-null  int32
 19  property_type_Hostel              74111 non-null  int32
 20  property_type_House               74111 non-null  int32
 21  property_type_In-law              74111 non-null  int32
 22  property_type_Loft                74111 non-null  int32
 23  property_type_Other               74111 non-null  int32
 24  property_type_Timeshare           74111 non-null  int32
 25  property_type_Townhouse           74111 non-null  int32
 26  property_type_Villa               74111 non-null  int32
 27  room_type_Private room            74111 non-null  int32
 28  room_type_Shared room             74111 non-null  int32
 29  bed_type_Couch                    74111 non-null  int32
 30  bed_type_Futon                    74111 non-null  int32
 31  bed_type_Pull-out Sofa            74111 non-null  int32
 32  bed_type_Real Bed                 74111 non-null  int32
 33  cancellation_policy_moderate      74111 non-null  int32
 34  cancellation_policy_strict        74111 non-null  int32
 35  cancellation_policy_super_strict  74111 non-null  int32
 36  city_Chicago                      74111 non-null  int32
 37  city_DC                           74111 non-null  int32
 38  city_LA                           74111 non-null  int32
 39  city_NYC                          74111 non-null  int32
 40  city_SF                           74111 non-null  int32
 41  host_identity_verified_t          74111 non-null  int32
 42  instant_bookable_t                74111 non-null  int32
 43  rating_category                   74111 non-null  category
dtypes: bool(1), category(1), float64(7), int32(34), int64(1)
memory usage: 14.3 MB

In [304]:
print(airbnb_v3_encoded.head())

   log_price  accommodates  bathrooms  host_response_rate  number_of_reviews  \
0   5.010635           3.0        1.0                 1.0                2.0
1   5.129899           7.0        1.0                 1.0                6.0
2   4.976734           5.0        1.0                 1.0               10.0
3   6.620073           4.0        1.0                 1.0                0.0
4   4.744932           2.0        1.0                 1.0                4.0

   bedrooms  beds  amenities  cleaning_fee  property_type_Bed & Breakfast  \
0       1.0   1.0        152          True                              0
1       3.0   3.0        218          True                              0
2       1.0   3.0        311          True                              0
3       2.0   2.0        210          True                              0
4       0.0   1.0        174          True                              0

   ...  cancellation_policy_strict  cancellation_policy_super_strict  \
0  ...                           1                                 0
1  ...                           1                                 0
2  ...                           0                                 0
3  ...                           0                                 0
4  ...                           0                                 0

   city_Chicago  city_DC  city_LA  city_NYC  city_SF  \
0             0        0        0         1        0
1             0        0        0         1        0
2             0        0        0         1        0
3             0        0        0         0        1
4             0        1        0         0        0

   host_identity_verified_t  instant_bookable_t  rating_category
0                         1                   0                3
1                         0                   1                3
2                         1                   1                3
3                         1                   0                3
4                         1                   1                0

[5 rows x 44 columns]

In [305]:
from sklearn.model_selection import train_test_split

# Split the data
X_train, X_test, y_train, y_test = train_test_split(X_encoded, y, test_size=0.2, random_state=42)

In [306]:
from sklearn.ensemble import RandomForestClassifier

# Initialize the model
model = RandomForestClassifier(random_state=42)

In [307]:
airbnb_v3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74111 entries, 0 to 74110
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   log_price               74111 non-null  float64
 1   accommodates            74111 non-null  float64
 2   bathrooms               74111 non-null  float64
 3   host_response_rate      74111 non-null  float64
 4   number_of_reviews       74111 non-null  float64
 5   review_scores_rating    74111 non-null  float64
 6   bedrooms                74111 non-null  float64
 7   beds                    74111 non-null  float64
 8   property_type           74111 non-null  object
 9   room_type               74111 non-null  object
 10  amenities               74111 non-null  int64
 11  bed_type                74111 non-null  object
 12  cancellation_policy     74111 non-null  object
 13  city                    74111 non-null  object
 14  host_identity_verified  74111 non-null  object
 15  instant_bookable        74111 non-null  object
 16  cleaning_fee            74111 non-null  bool
 17  rating_category         74111 non-null  category
dtypes: bool(1), category(1), float64(8), int64(1), object(7)
memory usage: 9.2+ MB

In [308]:
model.fit(X_train, y_train)

RandomForestClassifier(random_state=42)

In [309]:
# Predict on the test set
y_pred = model.predict(X_test)

# Calculate accuracy
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy: {accuracy:.2f}")

# Detailed report
print(classification_report(y_test, y_pred))

# Confusion Matrix
print(confusion_matrix(y_test, y_pred))

Accuracy: 0.95
              precision    recall  f1-score   support

           0       0.25      0.01      0.01       143
           1       0.00      0.00      0.00        72
           2       0.27      0.01      0.02       578
           3       0.95      1.00      0.97     14030

    accuracy                           0.95     14823
   macro avg       0.37      0.25      0.25     14823
weighted avg       0.91      0.95      0.92     14823

[[    1     0     0   142]
 [    0     0     0    72]
 [    0     0     7   571]
 [    3     0    19 14008]]

c:\Users\Sezy\anaconda3\Lib\site-packages\sklearn\metrics\_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
c:\Users\Sezy\anaconda3\Lib\site-packages\sklearn\metrics\_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
c:\Users\Sezy\anaconda3\Lib\site-packages\sklearn\metrics\_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [263]:
airbnb_v3 = pd.get_dummies(airbnb_v3, columns = ['property_type', 'room_type', 'cancellation_policy'], dtype = int)

In [264]:
print(airbnb_v3[['rating_category']].head())

  rating_category
0               3
1               3
2               3
3               3
4               0

In [265]:
airbnb_v3.drop(['property_type_Boat', 'room_type_Shared room', 'cancellation_policy_super_strict'], axis = 1, inplace = True)

In [230]:
airbnb_v3 = pd.get_dummies(airbnb_v3, drop_first = True, dtype = int)
airbnb_v3.head()

,log_price,accommodates,bathrooms,host_response_rate,number_of_reviews,review_scores_rating,bedrooms,beds,amenities,cleaning_fee,...,city_Chicago,city_DC,city_LA,city_NYC,city_SF,host_identity_verified_t,instant_bookable_t,rating_category_1,rating_category_2,rating_category_3
0,5.010635,3.0,1.0,1.0,2.0,100.0,1.0,1.0,152,True,...,0,0,0,1,0,1,0,0,0,1
1,5.129899,7.0,1.0,1.0,6.0,93.0,3.0,3.0,218,True,...,0,0,0,1,0,0,1,0,0,1
2,4.976734,5.0,1.0,1.0,10.0,92.0,1.0,3.0,311,True,...,0,0,0,1,0,1,1,0,0,1
3,6.620073,4.0,1.0,1.0,0.0,96.0,2.0,2.0,210,True,...,0,0,0,0,1,1,0,0,0,1
4,4.744932,2.0,1.0,1.0,4.0,40.0,0.0,1.0,174,True,...,0,1,0,0,0,1,1,0,0,0

In [266]:
airbnb_v3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74111 entries, 0 to 74110
Data columns (total 38 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   log_price                      74111 non-null  float64
 1   accommodates                   74111 non-null  float64
 2   bathrooms                      74111 non-null  float64
 3   host_response_rate             74111 non-null  float64
 4   number_of_reviews              74111 non-null  float64
 5   review_scores_rating           74111 non-null  float64
 6   bedrooms                       74111 non-null  float64
 7   beds                           74111 non-null  float64
 8   amenities                      74111 non-null  int64
 9   bed_type                       74111 non-null  object
 10  city                           74111 non-null  object
 11  host_identity_verified         74111 non-null  object
 12  instant_bookable               74111 non-null  object
 13  cleaning_fee                   74111 non-null  bool
 14  rating_category                74111 non-null  category
 15  property_type_Apartment        74111 non-null  int32
 16  property_type_Bed & Breakfast  74111 non-null  int32
 17  property_type_Boutique hotel   74111 non-null  int32
 18  property_type_Bungalow         74111 non-null  int32
 19  property_type_Cabin            74111 non-null  int32
 20  property_type_Camper/RV        74111 non-null  int32
 21  property_type_Condominium      74111 non-null  int32
 22  property_type_Dorm             74111 non-null  int32
 23  property_type_Guest suite      74111 non-null  int32
 24  property_type_Guesthouse       74111 non-null  int32
 25  property_type_Hostel           74111 non-null  int32
 26  property_type_House            74111 non-null  int32
 27  property_type_In-law           74111 non-null  int32
 28  property_type_Loft             74111 non-null  int32
 29  property_type_Other            74111 non-null  int32
 30  property_type_Timeshare        74111 non-null  int32
 31  property_type_Townhouse        74111 non-null  int32
 32  property_type_Villa            74111 non-null  int32
 33  room_type_Entire home/apt      74111 non-null  int32
 34  room_type_Private room         74111 non-null  int32
 35  cancellation_policy_flexible   74111 non-null  int32
 36  cancellation_policy_moderate   74111 non-null  int32
 37  cancellation_policy_strict     74111 non-null  int32
dtypes: bool(1), category(1), float64(8), int32(23), int64(1), object(4)
memory usage: 14.0+ MB

In [267]:
airbnb_v3['cleaning_fee'] = airbnb_v3['cleaning_fee'].astype('int')

In [268]:
airbnb_v3.head()

,log_price,accommodates,bathrooms,host_response_rate,number_of_reviews,review_scores_rating,bedrooms,beds,amenities,bed_type,...,property_type_Loft,property_type_Other,property_type_Timeshare,property_type_Townhouse,property_type_Villa,room_type_Entire home/apt,room_type_Private room,cancellation_policy_flexible,cancellation_policy_moderate,cancellation_policy_strict
0,5.010635,3.0,1.0,1.0,2.0,100.0,1.0,1.0,152,Real Bed,...,0,0,0,0,0,1,0,0,0,1
1,5.129899,7.0,1.0,1.0,6.0,93.0,3.0,3.0,218,Real Bed,...,0,0,0,0,0,1,0,0,0,1
2,4.976734,5.0,1.0,1.0,10.0,92.0,1.0,3.0,311,Real Bed,...,0,0,0,0,0,1,0,0,1,0
3,6.620073,4.0,1.0,1.0,0.0,96.0,2.0,2.0,210,Real Bed,...,0,0,0,0,0,1,0,1,0,0
4,4.744932,2.0,1.0,1.0,4.0,40.0,0.0,1.0,174,Real Bed,...,0,0,0,0,0,1,0,0,1,0

In [269]:
X = airbnb_v3.drop('rating_category', axis = 1)
Y = airbnb_v3['rating_category']

In [ ]:
# categorical_features = ['host_has_profile_pic', 'host_identity_verified', 'host_response_rate']
# Airbnb_df[categorical_features] = Airbnb_df[categorical_features].fillna('Unknown')

KeyError: "['host_has_profile_pic'] not in index"

In [ ]:
# df_encoded = pd.get_dummies(Airbnb_df, columns=['property_type',  'bed_type', 'cancellation_policy', 'city', 'host_has_profile_pic', 'host_identity_verified', 'host_response_rate'])

In [ ]:
# from sklearn.preprocessing import StandardScaler

# scaler = StandardScaler()
# numerical_features = ['log_price', 'accommodates', 'number_of_reviews', 'bathrooms', 'bedrooms', 'beds']
# df_encoded[numerical_features] = scaler.fit_transform(df_encoded[numerical_features])

In [ ]:
# correlation_matrix = df_encoded.corr()
# plt.figure(figsize=(12, 10))
# sns.heatmap(correlation_matrix, annot=True, cmap='coolwarm', fmt='.2f')
# plt.show()

ValueError: could not convert string to float: 'Entire home/apt'

In [ ]:
# df['host_response_rate'] = pd.to_numeric(df['host_response_rate'], errors='coerce')
# df['host_response_rate'] = df['host_response_rate'].fillna(0)

In [ ]:
# X = df[['review_scores_rating', 'accommodates', 'bathrooms', 'host_response_rate',
#        'number_of_reviews', 'bedrooms', 'beds',
#        'property_type_Apartment', 'property_type_Bed & Breakfast', 'property_type_Boat',
#        'property_type_Boutique hotel', 'property_type_Bungalow', 'property_type_Cabin',
#        'property_type_Camper/RV', 'property_type_Castle', 'property_type_Cave',
#        'property_type_Chalet', 'property_type_Condominium', 'property_type_Dorm',
#        'property_type_Earth House', 'property_type_Guest suite', 'property_type_Guesthouse',
#        'property_type_Hostel', 'property_type_House', 'property_type_Hut',
#        'property_type_In-law', 'property_type_Island', 'property_type_Loft',
#        'property_type_Other', 'property_type_Serviced apartment', 'property_type_Tent',
#        'property_type_Timeshare', 'property_type_Tipi', 'property_type_Townhouse',
#        'property_type_Train', 'property_type_Treehouse', 'property_type_Vacation home',
#        'property_type_Villa', 'property_type_Yurt',
#        'room_type_Entire home/apt', 'room_type_Private room',
#        'cancellation_policy_flexible', 'cancellation_policy_moderate',
#        'cancellation_policy_strict',
#        'bed_type_Couch', 'bed_type_Futon', 'bed_type_Pull-out Sofa', 'bed_type_Real Bed',
#        'city_Chicago', 'city_DC', 'city_LA', 'city_NYC', 'city_SF',
#        'host_identity_verified_t', 'instant_bookable_t']]

# y = df['log_price']

In [270]:
X['bathrooms'] = X['bathrooms'].fillna(X['bathrooms'].median())
# X['review_scores_rating'] = X['review_scores_rating'].fillna(X['review_scores_rating'].median())
X['bedrooms'] = X['bedrooms'].fillna(X['bedrooms'].median())
X['beds'] = X['beds'].fillna(X['beds'].median())
Y = Y.fillna(Y.median())

TypeError: 'Categorical' with dtype category does not support reduction 'median'

<class 'pandas.core.series.Series'>
RangeIndex: 74111 entries, 0 to 74110
Series name: log_price
Non-Null Count  Dtype
--------------  -----
74111 non-null  float64
dtypes: float64(1)
memory usage: 579.1 KB

In [214]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74111 entries, 0 to 74110
Data columns (total 43 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   log_price                      74111 non-null  float64
 1   accommodates                   74111 non-null  float64
 2   bathrooms                      74111 non-null  float64
 3   host_response_rate             74111 non-null  float64
 4   number_of_reviews              74111 non-null  float64
 5   bedrooms                       74111 non-null  float64
 6   beds                           74111 non-null  float64
 7   amenities                      74111 non-null  int64
 8   cleaning_fee                   74111 non-null  int32
 9   property_type_Apartment        74111 non-null  int32
 10  property_type_Bed & Breakfast  74111 non-null  int32
 11  property_type_Boutique hotel   74111 non-null  int32
 12  property_type_Bungalow         74111 non-null  int32
 13  property_type_Cabin            74111 non-null  int32
 14  property_type_Camper/RV        74111 non-null  int32
 15  property_type_Condominium      74111 non-null  int32
 16  property_type_Dorm             74111 non-null  int32
 17  property_type_Guest suite      74111 non-null  int32
 18  property_type_Guesthouse       74111 non-null  int32
 19  property_type_Hostel           74111 non-null  int32
 20  property_type_House            74111 non-null  int32
 21  property_type_In-law           74111 non-null  int32
 22  property_type_Loft             74111 non-null  int32
 23  property_type_Other            74111 non-null  int32
 24  property_type_Timeshare        74111 non-null  int32
 25  property_type_Townhouse        74111 non-null  int32
 26  property_type_Villa            74111 non-null  int32
 27  room_type_Entire home/apt      74111 non-null  int32
 28  room_type_Private room         74111 non-null  int32
 29  cancellation_policy_flexible   74111 non-null  int32
 30  cancellation_policy_moderate   74111 non-null  int32
 31  cancellation_policy_strict     74111 non-null  int32
 32  bed_type_Couch                 74111 non-null  int32
 33  bed_type_Futon                 74111 non-null  int32
 34  bed_type_Pull-out Sofa         74111 non-null  int32
 35  bed_type_Real Bed              74111 non-null  int32
 36  city_Chicago                   74111 non-null  int32
 37  city_DC                        74111 non-null  int32
 38  city_LA                        74111 non-null  int32
 39  city_NYC                       74111 non-null  int32
 40  city_SF                        74111 non-null  int32
 41  host_identity_verified_t       74111 non-null  int32
 42  instant_bookable_t             74111 non-null  int32
dtypes: float64(7), int32(35), int64(1)
memory usage: 14.4 MB

In [215]:
print(X.isna().sum())

log_price                        0
accommodates                     0
bathrooms                        0
host_response_rate               0
number_of_reviews                0
bedrooms                         0
beds                             0
amenities                        0
cleaning_fee                     0
property_type_Apartment          0
property_type_Bed & Breakfast    0
property_type_Boutique hotel     0
property_type_Bungalow           0
property_type_Cabin              0
property_type_Camper/RV          0
property_type_Condominium        0
property_type_Dorm               0
property_type_Guest suite        0
property_type_Guesthouse         0
property_type_Hostel             0
property_type_House              0
property_type_In-law             0
property_type_Loft               0
property_type_Other              0
property_type_Timeshare          0
property_type_Townhouse          0
property_type_Villa              0
room_type_Entire home/apt        0
room_type_Private room           0
cancellation_policy_flexible     0
cancellation_policy_moderate     0
cancellation_policy_strict       0
bed_type_Couch                   0
bed_type_Futon                   0
bed_type_Pull-out Sofa           0
bed_type_Real Bed                0
city_Chicago                     0
city_DC                          0
city_LA                          0
city_NYC                         0
city_SF                          0
host_identity_verified_t         0
instant_bookable_t               0
dtype: int64

In [216]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, r2_score
import numpy as np

# Split the data
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=42)

# Train the model
model = RandomForestRegressor(n_estimators=100, random_state=42)
model.fit(X_train, y_train)

# Generate predictions
y_pred = model.predict(X_test)

# Calculate performance metrics
mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)
r2 = r2_score(y_test, y_pred)

In [218]:
airbnb_v3.head()

,log_price,accommodates,bathrooms,host_response_rate,number_of_reviews,review_scores_rating,bedrooms,beds,amenities,cleaning_fee,...,bed_type_Futon,bed_type_Pull-out Sofa,bed_type_Real Bed,city_Chicago,city_DC,city_LA,city_NYC,city_SF,host_identity_verified_t,instant_bookable_t
0,5.010635,3.0,1.0,1.0,2.0,100.0,1.0,1.0,152,1,...,0,0,1,0,0,0,1,0,1,0
1,5.129899,7.0,1.0,1.0,6.0,93.0,3.0,3.0,218,1,...,0,0,1,0,0,0,1,0,0,1
2,4.976734,5.0,1.0,1.0,10.0,92.0,1.0,3.0,311,1,...,0,0,1,0,0,0,1,0,1,1
3,6.620073,4.0,1.0,1.0,0.0,96.0,2.0,2.0,210,1,...,0,0,1,0,0,0,0,1,1,0
4,4.744932,2.0,1.0,1.0,4.0,40.0,0.0,1.0,174,1,...,0,0,1,0,1,0,0,0,1,1

In [217]:
print(f'R² Score: {r2}')

R² Score: 0.028897294283752872

In [5]:
Airbnb_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74111 entries, 0 to 74110
Data columns (total 29 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      74111 non-null  int64
 1   log_price               74111 non-null  float64
 2   property_type           74111 non-null  object
 3   room_type               74111 non-null  object
 4   amenities               74111 non-null  object
 5   accommodates            74111 non-null  int64
 6   bathrooms               73911 non-null  float64
 7   bed_type                74111 non-null  object
 8   cancellation_policy     74111 non-null  object
 9   cleaning_fee            74111 non-null  bool
 10  city                    74111 non-null  object
 11  description             74111 non-null  object
 12  first_review            58247 non-null  object
 13  host_has_profile_pic    73923 non-null  object
 14  host_identity_verified  73923 non-null  object
 15  host_response_rate      55812 non-null  object
 16  host_since              73923 non-null  object
 17  instant_bookable        74111 non-null  object
 18  last_review             58284 non-null  object
 19  latitude                74111 non-null  float64
 20  longitude               74111 non-null  float64
 21  name                    74111 non-null  object
 22  neighbourhood           67239 non-null  object
 23  number_of_reviews       74111 non-null  int64
 24  review_scores_rating    57389 non-null  float64
 25  thumbnail_url           65895 non-null  object
 26  zipcode                 73145 non-null  object
 27  bedrooms                74020 non-null  float64
 28  beds                    73980 non-null  float64
dtypes: bool(1), float64(7), int64(3), object(18)
memory usage: 15.9+ MB

In [51]:
# Check to look for missing data. 
columns_to_check = [
    'log_price', 
    'property_type', 
    'accommodates', 
    'bathrooms', 
    'cancellation_policy', 
    'cleaning_fee', 
    'review_scores_rating', 
    'zipcode'
]
# Drop all missing data
Airbnb_df = Airbnb_df.dropna(subset=columns_to_check)
Airbnb_df.head()

,id,log_price,property_type,room_type,amenities,accommodates,bathrooms,bed_type,cancellation_policy,cleaning_fee,...,latitude,longitude,name,neighbourhood,number_of_reviews,review_scores_rating,thumbnail_url,zipcode,bedrooms,beds
0,6901257,5.010635,Apartment,Entire home/apt,"{""Wireless Internet"",""Air conditioning"",Kitche...",3,1.0,Real Bed,strict,True,...,40.696524,-73.991617,Beautiful brownstone 1-bedroom,Brooklyn Heights,2,100.0,https://a0.muscache.com/im/pictures/6d7cbbf7-c...,11201,1.0,1.0
1,6304928,5.129899,Apartment,Entire home/apt,"{""Wireless Internet"",""Air conditioning"",Kitche...",7,1.0,Real Bed,strict,True,...,40.766115,-73.989040,Superb 3BR Apt Located Near Times Square,Hell's Kitchen,6,93.0,https://a0.muscache.com/im/pictures/348a55fe-4...,10019,3.0,3.0
2,7919400,4.976734,Apartment,Entire home/apt,"{TV,""Cable TV"",""Wireless Internet"",""Air condit...",5,1.0,Real Bed,moderate,True,...,40.808110,-73.943756,The Garden Oasis,Harlem,10,92.0,https://a0.muscache.com/im/pictures/6fae5362-9...,10027,1.0,3.0
4,3808709,4.744932,Apartment,Entire home/apt,"{TV,Internet,""Wireless Internet"",""Air conditio...",2,1.0,Real Bed,moderate,True,...,38.925627,-77.034596,Great studio in midtown DC,Columbia Heights,4,40.0,NaN,20009,0.0,1.0
5,12422935,4.442651,Apartment,Private room,"{TV,""Wireless Internet"",Heating,""Smoke detecto...",2,1.0,Real Bed,strict,True,...,37.753164,-122.429526,Comfort Suite San Francisco,Noe Valley,3,100.0,https://a0.muscache.com/im/pictures/82509143-4...,94131,1.0,1.0

In [52]:
Airbnb_df.shape[0]

56556

Dropping Columns that are not helpful

In [53]:
Airbnb_df = Airbnb_df.drop(columns=['id','room_type','latitude', 'longitude','name','neighbourhood','thumbnail_url'])
Airbnb_df.head()

,log_price,property_type,amenities,accommodates,bathrooms,bed_type,cancellation_policy,cleaning_fee,city,description,...,host_identity_verified,host_response_rate,host_since,instant_bookable,last_review,number_of_reviews,review_scores_rating,zipcode,bedrooms,beds
0,5.010635,Apartment,"{""Wireless Internet"",""Air conditioning"",Kitche...",3,1.0,Real Bed,strict,True,NYC,"Beautiful, sunlit brownstone 1-bedroom in the ...",...,t,NaN,2012-03-26,f,2016-07-18,2,100.0,11201,1.0,1.0
1,5.129899,Apartment,"{""Wireless Internet"",""Air conditioning"",Kitche...",7,1.0,Real Bed,strict,True,NYC,Enjoy travelling during your stay in Manhattan...,...,f,100%,2017-06-19,t,2017-09-23,6,93.0,10019,3.0,3.0
2,4.976734,Apartment,"{TV,""Cable TV"",""Wireless Internet"",""Air condit...",5,1.0,Real Bed,moderate,True,NYC,The Oasis comes complete with a full backyard ...,...,t,100%,2016-10-25,t,2017-09-14,10,92.0,10027,1.0,3.0
4,4.744932,Apartment,"{TV,Internet,""Wireless Internet"",""Air conditio...",2,1.0,Real Bed,moderate,True,DC,"Cool, cozy, and comfortable studio located in ...",...,t,100%,2015-03-01,t,2017-01-22,4,40.0,20009,0.0,1.0
5,4.442651,Apartment,"{TV,""Wireless Internet"",Heating,""Smoke detecto...",2,1.0,Real Bed,strict,True,SF,Beautiful private room overlooking scenic view...,...,t,100%,2017-06-07,t,2017-09-05,3,100.0,94131,1.0,1.0

In [54]:
Airbnb_df = Airbnb_df.drop(columns=['host_response_rate', 'host_since', 'description', 'bed_type', 'last_review'])
Airbnb_df.head()

,log_price,property_type,amenities,accommodates,bathrooms,cancellation_policy,cleaning_fee,city,first_review,host_has_profile_pic,host_identity_verified,instant_bookable,number_of_reviews,review_scores_rating,zipcode,bedrooms,beds
0,5.010635,Apartment,"{""Wireless Internet"",""Air conditioning"",Kitche...",3,1.0,strict,True,NYC,2016-06-18,t,t,f,2,100.0,11201,1.0,1.0
1,5.129899,Apartment,"{""Wireless Internet"",""Air conditioning"",Kitche...",7,1.0,strict,True,NYC,2017-08-05,t,f,t,6,93.0,10019,3.0,3.0
2,4.976734,Apartment,"{TV,""Cable TV"",""Wireless Internet"",""Air condit...",5,1.0,moderate,True,NYC,2017-04-30,t,t,t,10,92.0,10027,1.0,3.0
4,4.744932,Apartment,"{TV,Internet,""Wireless Internet"",""Air conditio...",2,1.0,moderate,True,DC,2015-05-12,t,t,t,4,40.0,20009,0.0,1.0
5,4.442651,Apartment,"{TV,""Wireless Internet"",Heating,""Smoke detecto...",2,1.0,strict,True,SF,2017-08-27,t,t,t,3,100.0,94131,1.0,1.0

In [55]:
Airbnb_df = Airbnb_df.drop(columns=['amenities', 'first_review', 'zipcode'])

Checking Unique words to determine how to onehot code columns

In [56]:
unique_cancellation_policies = Airbnb_df['cancellation_policy'].unique()
unique_property_types = Airbnb_df['property_type'].unique()
unique_city_types = Airbnb_df['city'].unique()

In [79]:
unique_city_types

array(['NYC', 'DC', 'SF', 'LA', 'Chicago', 'Boston'], dtype=object)

In [57]:
print(unique_city_types)

['NYC' 'DC' 'SF' 'LA' 'Chicago' 'Boston']

Target and Features

In [58]:
X = Airbnb_df.drop(columns=['review_scores_rating'])
y = Airbnb_df['review_scores_rating']

In [59]:
y

0        100.0
1         93.0
2         92.0
4         40.0
5        100.0
         ...
74104    100.0
74105     91.0
74107     93.0
74108     94.0
74110     96.0
Name: review_scores_rating, Length: 56556, dtype: float64

In [60]:
X

,log_price,property_type,accommodates,bathrooms,cancellation_policy,cleaning_fee,city,host_has_profile_pic,host_identity_verified,instant_bookable,number_of_reviews,bedrooms,beds
0,5.010635,Apartment,3,1.0,strict,True,NYC,t,t,f,2,1.0,1.0
1,5.129899,Apartment,7,1.0,strict,True,NYC,t,f,t,6,3.0,3.0
2,4.976734,Apartment,5,1.0,moderate,True,NYC,t,t,t,10,1.0,3.0
4,4.744932,Apartment,2,1.0,moderate,True,DC,t,t,t,4,0.0,1.0
5,4.442651,Apartment,2,1.0,strict,True,SF,t,t,t,3,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
74104,4.356709,Apartment,2,1.0,strict,True,Chicago,t,t,f,6,1.0,1.0
74105,4.248495,House,2,1.0,moderate,True,LA,t,t,f,36,1.0,1.0
74107,5.043425,Apartment,4,2.0,moderate,True,LA,t,f,f,16,2.0,4.0
74108,5.220356,Apartment,5,1.0,moderate,True,NYC,t,t,t,43,2.0,2.0
74110,4.852030,Boat,4,1.0,moderate,False,LA,t,t,f,205,1.0,2.0

In [61]:
print(Airbnb_df.dtypes)

log_price                 float64
property_type              object
accommodates                int64
bathrooms                 float64
cancellation_policy        object
cleaning_fee                 bool
city                       object
host_has_profile_pic       object
host_identity_verified     object
instant_bookable           object
number_of_reviews           int64
review_scores_rating      float64
bedrooms                  float64
beds                      float64
dtype: object

In [62]:
# Generate our categorical variable lists
categorical_features = Airbnb_df.dtypes[Airbnb_df.dtypes == "object"].index.tolist()

In [63]:
# Check the number of unique values in each column
Airbnb_df[categorical_features].nunique()

property_type             32
cancellation_policy        5
city                       6
host_has_profile_pic       2
host_identity_verified     2
instant_bookable           2
dtype: int64

In [64]:
numeric_features = X.select_dtypes(include='number')

In [65]:
numeric_features.nunique()

log_price            664
accommodates          16
bathrooms             17
number_of_reviews    370
bedrooms              11
beds                  18
dtype: int64

In [66]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

In [67]:
# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(Airbnb_df[categorical_features]))

c:\Users\Sezy\anaconda3\Lib\site-packages\sklearn\preprocessing\_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [68]:
# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names_out(categorical_features)
encode_df.head()

,property_type_Apartment,property_type_Bed & Breakfast,property_type_Boat,property_type_Boutique hotel,property_type_Bungalow,property_type_Cabin,property_type_Camper/RV,property_type_Castle,property_type_Cave,property_type_Chalet,...,city_NYC,city_SF,host_has_profile_pic_f,host_has_profile_pic_t,host_has_profile_pic_nan,host_identity_verified_f,host_identity_verified_t,host_identity_verified_nan,instant_bookable_f,instant_bookable_t
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0
1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0
2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0
3,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0
4,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0

In [70]:
# Drop original categorical columns
Airbnb_df = Airbnb_df.drop(columns=categorical_features)

In [71]:
# Merge one-hot encoded features with the original DataFrame
Airbnb_df = pd.concat([Airbnb_df, encode_df], axis=1)

In [72]:
Airbnb_df = Airbnb_df.drop(columns='cleaning_fee')

In [74]:
Airbnb_df.head()

,log_price,accommodates,bathrooms,number_of_reviews,review_scores_rating,bedrooms,beds,property_type_Apartment,property_type_Bed & Breakfast,property_type_Boat,...,city_NYC,city_SF,host_has_profile_pic_f,host_has_profile_pic_t,host_has_profile_pic_nan,host_identity_verified_f,host_identity_verified_t,host_identity_verified_nan,instant_bookable_f,instant_bookable_t
0,5.010635,3.0,1.0,2.0,100.0,1.0,1.0,1.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0
1,5.129899,7.0,1.0,6.0,93.0,3.0,3.0,1.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0
2,4.976734,5.0,1.0,10.0,92.0,1.0,3.0,1.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0
4,4.744932,2.0,1.0,4.0,40.0,0.0,1.0,1.0,0.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0
5,4.442651,2.0,1.0,3.0,100.0,1.0,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0

In [75]:
print(Airbnb_df.columns.tolist())

['log_price', 'accommodates', 'bathrooms', 'number_of_reviews', 'review_scores_rating', 'bedrooms', 'beds', 'property_type_Apartment', 'property_type_Bed & Breakfast', 'property_type_Boat', 'property_type_Boutique hotel', 'property_type_Bungalow', 'property_type_Cabin', 'property_type_Camper/RV', 'property_type_Castle', 'property_type_Cave', 'property_type_Chalet', 'property_type_Condominium', 'property_type_Dorm', 'property_type_Earth House', 'property_type_Guest suite', 'property_type_Guesthouse', 'property_type_Hostel', 'property_type_House', 'property_type_Hut', 'property_type_In-law', 'property_type_Island', 'property_type_Loft', 'property_type_Other', 'property_type_Serviced apartment', 'property_type_Tent', 'property_type_Timeshare', 'property_type_Tipi', 'property_type_Townhouse', 'property_type_Train', 'property_type_Treehouse', 'property_type_Vacation home', 'property_type_Villa', 'property_type_Yurt', 'cancellation_policy_flexible', 'cancellation_policy_moderate', 'cancellation_policy_strict', 'cancellation_policy_super_strict_30', 'cancellation_policy_super_strict_60', 'city_Boston', 'city_Chicago', 'city_DC', 'city_LA', 'city_NYC', 'city_SF', 'host_has_profile_pic_f', 'host_has_profile_pic_t', 'host_has_profile_pic_nan', 'host_identity_verified_f', 'host_identity_verified_t', 'host_identity_verified_nan', 'instant_bookable_f', 'instant_bookable_t', 'property_type_Apartment', 'property_type_Bed & Breakfast', 'property_type_Boat', 'property_type_Boutique hotel', 'property_type_Bungalow', 'property_type_Cabin', 'property_type_Camper/RV', 'property_type_Castle', 'property_type_Cave', 'property_type_Chalet', 'property_type_Condominium', 'property_type_Dorm', 'property_type_Earth House', 'property_type_Guest suite', 'property_type_Guesthouse', 'property_type_Hostel', 'property_type_House', 'property_type_Hut', 'property_type_In-law', 'property_type_Island', 'property_type_Loft', 'property_type_Other', 'property_type_Serviced apartment', 'property_type_Tent', 'property_type_Timeshare', 'property_type_Tipi', 'property_type_Townhouse', 'property_type_Train', 'property_type_Treehouse', 'property_type_Vacation home', 'property_type_Villa', 'property_type_Yurt', 'cancellation_policy_flexible', 'cancellation_policy_moderate', 'cancellation_policy_strict', 'cancellation_policy_super_strict_30', 'cancellation_policy_super_strict_60', 'city_Boston', 'city_Chicago', 'city_DC', 'city_LA', 'city_NYC', 'city_SF', 'host_has_profile_pic_f', 'host_has_profile_pic_t', 'host_has_profile_pic_nan', 'host_identity_verified_f', 'host_identity_verified_t', 'host_identity_verified_nan', 'instant_bookable_f', 'instant_bookable_t']

In [76]:
# Drop duplicate columns
Airbnb_df = Airbnb_df.loc[:, ~Airbnb_df.columns.duplicated()]

In [77]:
print(Airbnb_df.columns.tolist())

['log_price', 'accommodates', 'bathrooms', 'number_of_reviews', 'review_scores_rating', 'bedrooms', 'beds', 'property_type_Apartment', 'property_type_Bed & Breakfast', 'property_type_Boat', 'property_type_Boutique hotel', 'property_type_Bungalow', 'property_type_Cabin', 'property_type_Camper/RV', 'property_type_Castle', 'property_type_Cave', 'property_type_Chalet', 'property_type_Condominium', 'property_type_Dorm', 'property_type_Earth House', 'property_type_Guest suite', 'property_type_Guesthouse', 'property_type_Hostel', 'property_type_House', 'property_type_Hut', 'property_type_In-law', 'property_type_Island', 'property_type_Loft', 'property_type_Other', 'property_type_Serviced apartment', 'property_type_Tent', 'property_type_Timeshare', 'property_type_Tipi', 'property_type_Townhouse', 'property_type_Train', 'property_type_Treehouse', 'property_type_Vacation home', 'property_type_Villa', 'property_type_Yurt', 'cancellation_policy_flexible', 'cancellation_policy_moderate', 'cancellation_policy_strict', 'cancellation_policy_super_strict_30', 'cancellation_policy_super_strict_60', 'city_Boston', 'city_Chicago', 'city_DC', 'city_LA', 'city_NYC', 'city_SF', 'host_has_profile_pic_f', 'host_has_profile_pic_t', 'host_has_profile_pic_nan', 'host_identity_verified_f', 'host_identity_verified_t', 'host_identity_verified_nan', 'instant_bookable_f', 'instant_bookable_t']

In [78]:
Airbnb_df.head()

,log_price,accommodates,bathrooms,number_of_reviews,review_scores_rating,bedrooms,beds,property_type_Apartment,property_type_Bed & Breakfast,property_type_Boat,...,city_NYC,city_SF,host_has_profile_pic_f,host_has_profile_pic_t,host_has_profile_pic_nan,host_identity_verified_f,host_identity_verified_t,host_identity_verified_nan,instant_bookable_f,instant_bookable_t
0,5.010635,3.0,1.0,2.0,100.0,1.0,1.0,1.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0
1,5.129899,7.0,1.0,6.0,93.0,3.0,3.0,1.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0
2,4.976734,5.0,1.0,10.0,92.0,1.0,3.0,1.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0
4,4.744932,2.0,1.0,4.0,40.0,0.0,1.0,1.0,0.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0
5,4.442651,2.0,1.0,3.0,100.0,1.0,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0

In [80]:
file_path = r"C:\Users\Sezy\OneDrive\last_project_for_it\Airbnb_Score_Model\Resources\Cleaned_Airbnb_Data.csv"
# Save the DataFrame to a CSV file
Airbnb_df.to_csv(file_path, index=False)